@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,300,500);

html,body {
	height:100%;
	font-family: 'Roboto', sans-serif;
}

a {
	text-decoration: none;
	color:black;
}

a:hover {
	text-decoration: none;
}

.container-fluid {
	padding:0;
}

.top_menu_left {
	position: fixed;
	left: 5%;
	top: 5%;
	width: 20%;
}
.top_menu_right {
	position: absolute;
	right: 8%;
	top: 9%;
	width: 50%;
	text-align:right;
	font-size: 1.2em;
}

.top_menu_right a{
	padding: 3%;
}

.slide-wrapper {
    position: relative
}

.carousel-caption {
        text-align: left;
    }

.title_top {
        width: 100%;
	height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
    }
.title_top_content {
        width: 100%;
        height: 30%;
        background: transparent;
        color: #fff;
        margin-right:15px; /* width of .container gutter */
    }

.title_top_menu {
        width: 100%;
        height: 20%;
	margin-top: -3%;
}

.title_top_menu a{
	font-size: 1.2em;
	padding: 1%;
}

.margin{
	margin: 0 15%;
}

.img-responsive-overwrite{
	margin: 0 auto;
	max-width: 250px;
}


/* ------------------------Suchan main stats ----------------------- */

.circliful { 
    position: relative;  
 } 
 
 
 .circle-text, .circle-info, .circle-text-half, .circle-info-half { 
    width: 100%; 
    position: absolute; 
    text-align: center; 
    display: inline-block; 
 } 
 

#myStat, #myStat2, #myStat3, #myStat4 {
	display: inline;
}

#education_stats table{
	margin:0 auto;

}

#education_stats td{
	vertical-align: top;
	font-weight:lighter;
	text-align: center;
}
